<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexin.dubbo.monitor.dao.dao.ExecuteRequestMapper">

    <!--  BaseMap  -->
    <resultMap id="BaseResultMap" type="com.lexin.dubbo.monitor.dao.domain.ExecuteRequestDo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="port" property="port" jdbcType="INTEGER"/>
        <result column="service" property="service" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/> 
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="json_params" property="jsonParams" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="is_valid" property="isValid" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, port, service, method, name, json_params, create_time, modify_time, is_valid
    </sql>

    <!-- 插入执行记录 -->
    <insert id="insert" parameterType="com.lexin.dubbo.monitor.dao.domain.ExecuteRequestDo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO execute_request (
            port, service, method, name, json_params, create_time, modify_time, is_valid
        )
        VALUES (
            #{port}, #{service}, #{method}, #{name}, #{jsonParams}, 
            #{createTime}, #{modifyTime}, #{isValid}
        )
    </insert>

    <!-- 根据ID删除执行记录（逻辑删除） -->
    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE execute_request 
        SET is_valid = 1,
            modify_time = NOW()
        WHERE id = #{id}
    </update>

    <!-- 更新执行记录 -->
    <update id="update" parameterType="com.lexin.dubbo.monitor.dao.domain.ExecuteRequestDo">
        UPDATE execute_request
        <set>
            <if test="port != null">port = #{port},</if>
            <if test="service != null">service = #{service},</if>
            <if test="method != null">method = #{method},</if>
            <if test="name != null">name = #{name},</if>
            <if test="jsonParams != null">json_params = #{jsonParams},</if>
            modify_time = NOW()
        </set>
        WHERE id = #{id} AND is_valid = 0
    </update>


    <!-- 根据端口号查询执行记录 -->
    <select id="selectByPort" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM execute_request
        WHERE port = #{port} AND is_valid = 0
        order by name desc
    </select>

    <!-- 更新记录名称 -->
    <update id="updateName">
        UPDATE execute_request
        SET name = #{name},
            modify_time = NOW()
        WHERE id = #{id} AND is_valid =0 
    </update>
</mapper> 